<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.vickers.mcp4chatgpt</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/vickers/Documents/MCP_Creator/MCP4ChatGPT/scripts/dev.sh</string>
	</array>
	<key>EnvironmentVariables</key>
	<dict>
		<key>HOME</key>
		<string>/Users/vickers</string>
		<key>PATH</key>
		<string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
		<key>PYTHONPATH</key>
		<string>/Users/vickers/Documents/MCP_Creator/MCP4ChatGPT/src</string>
	</dict>
	<key>WorkingDirectory</key>
	<string>/Users/vickers/Documents/MCP_Creator/MCP4ChatGPT</string>
	<key>RunAtLoad</key>
	<false/>
	<key>KeepAlive</key>
	<false/>
	<key>StandardOutPath</key>
	<string>/Users/vickers/Documents/MCP_Creator/MCP4ChatGPT/logs/service.out.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/vickers/Documents/MCP_Creator/MCP4ChatGPT/logs/service.err.log</string>
</dict>
</plist>
